@media only screen and (min-width: 430px) {
  .hero-image-container, .hero-image-container img {
    width: 100vw;
    height: 287px;
  }

  .hero-image-container img {
    content: url('../images/hero-desktop.jpg');
    object-fit: cover;
    object-position: top;
  }

}

@media only screen and (min-width: 450px) {
  .hero-image-container, .hero-image-container img {
    height: 300px;
  }

}

@media only screen and (min-width: 470px) {
  .hero-image-container, .hero-image-container img {
    height: 314px;
  }

}

@media only screen and (min-width: 490px) {
  .hero-image-container, .hero-image-container img {
    height: 327px;
  }

}

@media only screen and (min-width: 510px) {
  .hero-image-container, .hero-image-container img {
    height: 340px;
  }

  
}

@media only screen and (min-width: 530px) {
  .hero-image-container, .hero-image-container img {
    height: 354px;
  }

  .content-container {
    margin-bottom: 40px;
  }

}

@media only screen and (min-width: 550px) {
  .hero-image-container, .hero-image-container img {
    height: 367px;
  }

}

@media only screen and (min-width: 570px) {
  .hero-image-container, .hero-image-container img {
    height: 380px;
  }

}

@media only screen and (min-width: 590px) {
  .hero-image-container, .hero-image-container img {
    height: 393px;
  }

}

@media only screen and (min-width: 610px) {
  header {
    height: 100px;
  }

  header img {
    width: 120px;
    height: 25px;
    margin: 35px 0 0 35px;
  }

  .hero-image-container, .hero-image-container img {
    height: 406px;
  }
  
  .content-container h1 {
    font-size: 5.1rem;
    line-height: 6.1rem;
  }

  /*.content-container p {
    padding: 0 45px;
  }*/

}

@media only screen and (min-width: 630px) {
  .hero-image-container, .hero-image-container img {
    height: 419px;
  }

}

@media only screen and (min-width: 650px) {
  .hero-image-container, .hero-image-container img {
    height: 432px;
  }

}

@media only screen and (min-width: 670px) {
  .hero-image-container, .hero-image-container img {
    height: 445px;
  }

}

@media only screen and (min-width: 690px) {
  .hero-image-container, .hero-image-container img {
    height: 458px;
  }

}

@media only screen and (min-width: 710px) {
  .hero-image-container, .hero-image-container img {
    height: 471px;
  }

}

@media only screen and (min-width: 730px) {
  .hero-image-container, .hero-image-container img {
    height: 484px;
  }

}