:root {
  --primary-color: #CE9797;
  --secondary-color: #F96262;
  --tertiary-color: #413A3A;
  --main-font: 'Josefin Sans', sans-serif;
}

html {
  font-family: var(--main-font);
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 84px;
  background-color: #fffdfe;
}

header img {
  width: 103px;
  height: 22px;
  margin: 32px 0 0 32px;
}

main, section, .hero-image-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

main {
  min-width: 375px;
  min-height: 100%;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, #ffffff, #fefdfe, #fefafc, #fff7f9, #fff5f5);
}

section {
  justify-content: center;
  margin-bottom: 50px;
}

.hero-image-container {
  width: 100%;
  height: calc(100% - 65%);
}

.hero-image-container .hero-image-desktop {
  display: none;
}

.content-container {
  padding: 0 32px;
  margin-bottom: 40px;
}

.content-container h1 {
  font-weight: 300;
  font-size: 4.1rem;
  line-height: 4.1rem;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-top: 66px;
}

.content-container h1 span {
  font-weight: 600;
  color: var(--tertiary-color);
}

.content-container > p {
  margin-top: 3px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  color: var(--primary-color);
  padding: 0 8px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  
}

.input-container, .input-email {
  position: relative;
  width: 311px;
  height: 48px;
}

.input-email {
  padding: 0 25px;
  border-radius: 50px;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1rem;
  color: var(--primary-color);
  border: 1px solid #dfc9cc;
  background-color: #fff5f5;
  z-index: 1;
}

.input-email:focus {
  color: var(--tertiary-color);
}

.input-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 48px;
  border-radius: 50px;
  border: none;
  background-image: 
  url('../images/icon-arrow.svg'), 
  linear-gradient(to right, #f8bfbf, #f6b2b2, #f4a6a5, #f19999, #ee8c8c);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.input-submit:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #fddbdc, #fcd6d7, #fbd1d2, #f9cdcd, #f8c8c8);
  box-shadow: -1px 5px 7px 0px rgb(235, 192, 191, 1);
}

.error-icon {
  position: absolute;
  top: 12px;
  right: 75px;
  width: 24px;
  height: 24px;
  z-index: 2;
}

.confirmation-messages-container {
  width: 311px;
  position: relative;
  padding: 0 10px 0 17px;
}

.confirmation-messages-container .error-message {
  margin-top: 10px;
}

.confirmation-messages-container .error-message, .confirmation-messages-container .success-message {
  font-size: 1.2rem;
  text-align: left;
  color: var(--secondary-color);
}

.confirmation-messages-container .success-message {
  position: absolute;
  top: -3px;
  line-height: 2rem;
  color: var(--primary-color);
}

footer {
  height: 25px;
  background-color: #fff5f5;
  padding-top: 10px;
}
.attribution, .attribution a {
  font-weight: 400;
  text-align: center;
  color: var(--primary-color);
}

.attribution a:hover {
  font-weight: 400;
  color: var(--tertiary-color);
}